<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">
    <img src="../../assets/images/logoTienda.png" width="30" height="30" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/catalog"><span class="fa fa-list fa-lg"></span> Categoria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/marca" ><span class="fa fa-maxcdn fa-lg"></span> Marca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modelo"><span class="fa fa-medium fa-lg"></span> Modelo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/capacidad"><span class="fa fa-cubes fa-lg"></span> Capacidad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/precio" ><span class="fa fa-money fa-lg"></span> Precio</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="nav-link" routerLink="/configuracion"><span class="fa fa-cog fa-lg"></span> Configuración</a>
    </span>
  </div>
</nav>
