<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="btn btn-warning text-left" routerLink="tractores" >Tractores</a>
      <a class="btn btn-warning text-left" routerLink="motocultores" >Motocultores</a>
      <a class="btn btn-warning text-left" routerLink="palas-cargadoras" >Palas cargadoras</a>
      <a class="btn btn-warning text-left" routerLink="excavadoras" >Excavadoras</a>
      <a class="btn btn-warning text-left" routerLink="montacargas" >Montacargas</a>
      <a class="btn btn-warning text-left" routerLink="barredoras" >Barredoras</a>
    </div>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>
